# ### App
PORT=5000
APP_ENV=dev



# ### MySQL
MYSQL_DATABASE=ideas_ts_sequelize
# MYSQL_DATABASE=test	# if it does not exist, app does not up
MYSQL_USER=admin
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root
DB_NAME=ideas_ts_sequelize
# DB_NAME=test
DB_HOST=127.0.0.1
DB_USER=admin
DB_PASSWORD=root
DB_PORT=3360
DB_DIALECT=mysql
DB_CONTAINER_NAME=ideas_db


# ### MongoDB
MONGODB_URI=mongodb://adrian:somePassword123@0.0.0.0:2717/
MONGO_URI=mongodb://adrian:somePassword123@0.0.0.0:2717/
MONGO_CONTAINER_NAME=mongo_db_ts
MONGO_USERNAME=adrian
MONGO_PASSWORD=somePassword123




# ### Auth
SECRETORKEY=sWEhOSNWdG32-344s_dj-cfJKdrMN5tbgB3nKAJ45-fedDFGGHTX
GOOGLE_CLIENT_ID=554759254214-lgq05fv4vm61d5okf9a3blhcd5ckilv3.apps.googleusercontent.com
CLOUDINARY_URL=cloudinary://411987174575735:cJak9ApFV2sqKx1ZcYZTdgY0NYI@dxldmniua



# ### Others
CACHE_KEY=myStrongPassword
